$color-gwhite: #fcfdff;
$color-mystic: #dae4eb;
$color-gray: #9ea8af;
$color-metal: #2a3744;
$color-black: #0a0908;

$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #17a2b8;
$color-dark: #343a40;

.color-gwhite {
  color: $color-gwhite;
}

.color-mystic {
  color: $color-mystic;
}

.color-gray {
  color: $color-gray;
}

.color-metal {
  color: $color-metal;
}

.color-black {
  color: $color-black;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-success {
  color: $color-success;
}

.color-warning {
  color: $color-warning;
}

.color-danger {
  color: $color-danger;
}

.color-info {
  color: $color-info;
}

.color-dark {
  color: $color-dark;
}
